Source: atom
Section: misc
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9),
    build-essential,
    git,
    libgnome-keyring-dev,
    nodejs
Standards-Version: 3.9.5
Homepage: https://atom.io

Package: atom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs
Description: a hackable text editor for the 21st century
