#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

override_dh_auto_configure:
	dh_auto_configure
	npm install -g npm

%:
	dh $@ 
	script/build

override_dh_install:
	script/grunt install --install-dir /usr
